<!DOCTYPE HTML>
<html>
	<head>
		<title>Nhlakanipho Hlophe</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="index.html">I am Nhlakanipho Hlophe</a></h1>
<!--						<nav>-->
<!--							<a href="#menu">Menu</a>-->
<!--						</nav>-->
					</header>

				<!-- Menu -->
<!--					<nav id="menu">-->
<!--						<div class="inner">-->
<!--							<h2>Menu</h2>-->
<!--							<ul class="links">-->
<!--								<li><a href="index.html">Home</a></li>-->
<!--								<li><a href="generic.html">page2</a></li>-->
<!--								<li><a href="elements.html">Elements</a></li>-->
<!--							</ul>-->
<!--							<a href="#" class="close">Close</a>-->
<!--						</div>-->
<!--					</nav>-->

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>I am nhlakanipho</h2>
							<p>A Software Developer (Java,Python, mySQl) || Frontend-backend Developer (React.js, Flask, Node.js).<a href="https://html5up.net"></a></p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- One -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a class="image"><img src="../static/images/pic01.png" alt="" /></a>
									<div class="content">
										<h2 style="text-align:center" class="major">About me</h2>
										<p style="text-align:center">
											As a passionate Software Developer, I have two years of experience as a small business owner, where
                                            I built strong abilities in organization, communication, and problem-solving. This is when my love for
                                            software development began I had to design my website for my business. As a recent graduate of a
                                            HyperionDev Software Development course it has put me one step closer to working as a Software Developer.</p>

										<p style="text-align:center">
										While studying at HyperionDev, I learned methodologies and techniques such as algorithms,
                                        refactoring, recursion, debugging, software documentation, design patterns, system architecture, unit
                                        testing, quality assurance, deployment & maintenance, and agile development. Extensive knowledge
                                        of coding languages. I am a highly motivated individual who has taught himself invaluable skills, including Web
                                        Development I believe my experiences will prove to be an asset
                                        to the company.
										</p>
										<h2 class="major"></h2>
										<a class="special" href="https://github.com/Nhlakanipho92"> click here for my  Github</a>
									</div>
								</div>
							</section>

<!--						 Two -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<div class="content">
										<h2 style="text-align:center" class="major">TECH STACK</h2>
										<p>
										<ul>
										<li style="margin-bottom: 7px;text-align: center;"><strong>JAVA Development</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Python Development</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>OOP (Java, Python)</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Web Scraping with Python</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Testing and Automation with Selenium/Python</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Flask</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>File Processing(CSV,PDFs,TEXT)</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Data Science and Machine Learning(Pandas,NumPy,scikit-Learn)</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Data Visualization</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Working with APIs</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>HTML/CSS</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Semantic UI</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>React, Redux m, React Hooks</strong></li>
										<li style="margin-bottom: 15px;text-align: center;"><strong>Node.js</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Express.js</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>MySQl, PostgresSQL, SQL</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>Git, Github</strong></li>
										<li style="margin-bottom: 7px;text-align: center;"><strong>RESTful API</strong></li>

										<h2 class="major"></h2>

									</ul>
										<br>
										<br>
									</div>
								</div>
							</section>

						<!-- Three -->
<!--							<section id="three" class="wrapper spotlight style3">-->
<!--								<div class="inner">-->
<!--									<a href="#" class="image"><img src="../static/images/pic03.jpg" alt="" /></a>-->
<!--									<div class="content">-->
<!--										<h2 class="major">Nullam dignissim</h2>-->
<!--										<p>Lorem ipsum dolor sit amet, etiam lorem adipiscing elit. Cras turpis ante, nullam sit amet turpis non, sollicitudin posuere urna. Mauris id tellus arcu. Nunc vehicula id nulla dignissim dapibus. Nullam ultrices, neque et faucibus viverra, ex nulla cursus.</p>-->
<!--										<a href="#" class="special">Learn more</a>-->
<!--									</div>-->
<!--								</div>-->
<!--							</section>-->

						<!-- Four -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
<!--									<h2 class="major">Vitae phasellus</h2>-->
<!--									<p>Cras mattis ante fermentum, malesuada neque vitae, eleifend erat. Phasellus non pulvinar erat. Fusce tincidunt, nisl eget mattis egestas, purus ipsum consequat orci, sit amet lobortis lorem lacus in tellus. Sed ac elementum arcu. Quisque placerat auctor laoreet.</p>-->
									<section class="features">
										<article>
											<a href="https://brain-child.herokuapp.com/" class="image"><img src="../static/images/pic04.png" alt="" /></a>
											<h3 class="major">BrainChild(React.js, Node.js)</h3>
											<p>BrainChild, is a web application that shows off all my full stock abilities, combining front-end and back-end
												with a database and deployment of the application.
												the web application is a registration form and a sign up form. once the user has logged in the application
												uses a URL bar which the user will paste a URL of an image and display facial recognition API</p>
											<a href="https://brain-child.herokuapp.com/" class="special">See my the Site.</a>
										</article>
										<article>
											<a href="https://github.com/Nhlakanipho92/Capstone-project-5" class="image"><img src="../static/images/pic10.png" alt="" /></a>
											<h3 class="major"> project management system for an engineering firm (JAVA)</h3>
											<p>By incorporating database programming into the project management system in place of external text files to store data. structural engineering company could use this program to
												keep track of various by using OOP, building projects that they are working on.<br> A database called 'PoisePMS' was created to store project data, and
												the dependency diagram, as well as the Entity Relationship diagram in this repository, show the relationships between the tables in the PoisePMS database.
												Code was written in the Java language to then interact with the database, as well as provide a main user menu.</p>
											<a href="https://github.com/Nhlakanipho92/Capstone-project-5" class="special">see Source Code</a>
										</article>
										<article>
											<a href="https://github.com/Nhlakanipho92/Password_Checker" class="image"><img src="../static/images/pic06.png" alt="" /></a>
											<h3 class="major">Password_Checker(Python)</h3>
											<p>A secure way for you to check if the passwords you use in real life have ever been hacked.
                      							Securely checks if your password has ever been compromised.</p>
												<p>With a basic online password checker, you could potentially give your password to a hacker.
												When you use this code to check if your password has been compromised, you eliminate any possibility that a hacker could get it.
												Passwords are retrieved from a text file that you can delete later.</p>
											<p>It then uses SHA1 to hash your password/s, but it breaks them into two parts since that could also be used to determine what your password is.
													Pwnedpasswords.com api returns a list of possible passwords based on the first piece of information (5 characters). With the second piece (the rest of the characters),
												it locates the password/s matching the list. Finally, we'll mention the number of times your password has been compromised and if it has been found in a hack..</p>
											<a href="https://github.com/Nhlakanipho92/Password_Checker" class="special">See Source Code </a>
										</article>

										<article>
											<a href="https://github.com/Nhlakanipho92/Capstone-Project-2" class="image"><img src="../static/images/pic08.png" alt="" /></a>
											<h3 class="major">My PyGame</h3>
											<p>This Pygame project is a game program written in the Python language that was created to fulfill the level 1 task requirements for the
												Hyperion Development Software Engineering Bootcamp that I am enrolled in. The aim of this task was to develop skills to adapt to working with novel code libraries. Therefore, a simple Pygame program example was provided as a base to write our own game, according to the task level specifications.
												This simple game includes one 'player' object, three 'enemy' objects and one 'prize' object..</p>
											<a href="https://github.com/Nhlakanipho92/Capstone-Project-2" class="special">See Source Code</a>
										</article>
											<article>
											<a href="https://robo-friend.herokuapp.com/" class="image"><img src="../static/images/pic05.png" alt="" /></a>
											<h3 class="major">Robo-Friends(React.js)</h3>
											<p>Robo friends displays my front end abilities coupled with JavaScript. I built a search by engine that allows the user a
												search for a contacts email or name. The site generators a robot image with every contact edited.</p>
											<a href="https://robo-friend.herokuapp.com/" class="special">See my the Site</a>
										</article>
										<article>
											<a href="https://github.com/Nhlakanipho92/Twitter_Bot" class="image"><img src="../static/images/pic09.png" alt="" /></a>
											<h3 class="major">Twitter Bot</h3>
											<p>A Twitter bot is a type of bot software that controls a Twitter account via the Twitter API. The bot software may autonomously perform actions such as tweeting, re-tweeting, liking, following, unfollowing, or direct messaging other accounts.</p>
											<a href="https://github.com/Nhlakanipho92/Twitter_Bot" class="special">See Source Code</a>
										</article>
										<article>
											<a href="https://github.com/Nhlakanipho92/Machine_Learning" class="image"><img src="../static/images/pic11.png" alt="" /></a>
											<h3 class="major">Machine_Learning</h3>
											<p>Data Science. Fifa 19 datasets

                                              Playing around with Panda, Seaborn and Bokeh libraries. to:
												<ul>
											<li>Clean the data</li>
												<li>Split data. training set / test set</li>
												<li>Create a model</li>
												<li>Check the output</li>
												<li>Improve.</li>
										    </ul>
											</p>
											<a href="https://github.com/Nhlakanipho92/Machine_Learning" class="special">See Source Code </a>
										</article>
									</section>
									<ul class="actions">
										<li><a href="https://github.com/Nhlakanipho92/" class="button">See more of my work</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<div class="inner">
							<h2 class="major">Get in touch</h2>
							<p>Feel free to contact me. Just fill out the form or send me an email. Thanks! .</p>
							<form action="submit_form" method="post">
								<div class="fields">
									<div class="field">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field">
										<label for="email">Email</label>
										<input type="email" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</form>
							<ul class="contact">
								<li class="icon solid fa-home">
									<br />
									Centurion South Africa 0157<br />
								</li>
								<li class="icon solid  fa-phone">(+2767) 225-7573</li>
								<li class="icon solid fa-envelope"><a>nhlakaniphohlophe@gmail.com</a></li>
								<li class="icon brands fa-github"><a href="https://github.com/Nhlakanipho92">https://github.com/Nhlakanipho92</a></li>
								<li class="icon brands fa-linkedin"><a href="https://www.linkedin.com/in/nhlakanipho-hlophe-86aa3a148/">https://www.linkedin.com/in/nhlakanipho-hlophe-86aa3a148/</a></li>
							</ul>
							<ul class="copyright">
								<li>&copy;copy-right </li><li>Nhlakanipho Hlophe 2021 </a></li>
							</ul>
						</div>
					</section>

			</div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/jquery.scrollex.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>